udemy/Ciolfi/chat/android/app/google-services.json
udemy/Ciolfi/chat/build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
udemy/Ciolfi/chat/build/app/intermediates/incremental/debug-mergeJavaRes/merge-state
udemy/Ciolfi/chat/build/app/intermediates/incremental/debug-mergeNativeLibs/merge-state
udemy/Ciolfi/chat/build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
udemy/Ciolfi/chat/build/app/intermediates/merged_assets/debug/out/flutter_assets/kernel_blob.bin
udemy/Ciolfi/chat/build/app/kotlin/compileDebugKotlin/build-history.bin
udemy/Ciolfi/chat/build/app/kotlin/compileDebugKotlin/last-build.bin
udemy/Ciolfi/chat/build/app/outputs/apk/app.apk
udemy/Ciolfi/chat/build/app/outputs/apk/app.apk.sha1
udemy/Ciolfi/chat/build/app/outputs/apk/debug/app-debug.apk
udemy/Ciolfi/lojavirtual/android/app/google-services.json
udemy/Ciolfi/loja_virtual_gerencia/android/app/google-services.json
